/*--
	Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*-- //Header --*/

img {
	width: 100%;
}

body{
	background-color: darkslategray;
}

.wthreeblogsaits {
	padding: 100px 0;
}

.wthreeblogsaits h3 {
	font-size: 40px;
	color: #FFF;
}


.wthreeblogsaits-grid a {
	display: block;
	position: relative;
}

.wthreeblogsaits-grid a:before {
	position: absolute;
	right: 0px;
	bottom: 0px;
	left: 0px;
	top: 0;
	content: "";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	/*border: 10px solid #FFF; */
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.wthreeblogsaits-grid a:hover:before {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

@media only screen and (max-width: 767px) {
	.wthreeblogsaits-grid a img {
		width: 100%;
	}
}

.wthreeblogsaits span.w3date {
	color: #FFF;
	font-size: 15px;
}

.wthreeblogsaits-grid h4 a {
	color: #2CC185;
	margin-top: 20px;
	font-size: 20px;
	text-align: left;
	font-weight: 700;
}

.wthreeblogsaits-grid h4 a:before {
	display: none;
}

.wthreeblogsaits-grid p {
	font-size: 16px;
	color: #999;
	line-height: 25px;
	margin: 15px 0;
}

.wthreeblogsaits-grid button.btn {
	background: transparent;
	outline: none;
	border: 1px solid #FFF;
	border-radius: 0;
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
}

.wthreeblogsaits-grid button.btn i.fa {
	margin-left: 10px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.wthreeblogsaits-grid button.btn:hover i.fa {
	color: #2CC185;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.wthreeblogsaits-grid button.btn:hover {
	background-color: #000;
	border-color: #000;
}

.modal {
	background-color: rgba(0,0,0,0.75);
}

.modal-content {
	position: relative;
	background-color: #262626;
	border: 1px solid #FFF;
	border-radius: 0;
	outline: 0;
	-webkit-box-shadow: 0px 0px 75px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 75px 7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 75px 7px rgba(0,0,0,0.75);
}

.modal-body {
	padding: 30px;
}

.modal-title {
	line-height: 1;
	font-size: 30px;
	color: #2cc185;
}

.modal-body p {
	color: #CCC;
	font-size: 16px;
	line-height: 27px;
	padding: 25px 20px 0;
}

.close {
	font-size: 25px;
	color: #FFF;
	opacity: 1;
}

.close:hover, .close:focus {
	color: #FFF;
}

/*-- //Blogs --*/
@media screen and (max-width: 1920px) {
	.w3agile_gallery_grid figcaption h4 {
		margin: 1.5em 0 1em;
	}
}

@media screen and (max-width: 1680px) {
	.w3agile_gallery_grid figcaption h4 {
		margin: 1.25em 0 1em;
	}
}

@media screen and (max-width: 1600px) {
	.w3agile_gallery_grid figcaption h4 {
		margin: 1em 0;
	}
}

@media screen and (max-width: 1440px) {
	.heading h3 {
		font-size: 38px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 0.8em 0;
	}
}

@media screen and (max-width: 1366px) {
	.heading h3 {
		font-size: 35px;
	}
	.w3agile_gallery_grid figcaption h4 {
		font-size: 30px;
	}
	.wthreetabsaits .item h3 {
		font-size: 21px;
	}
}

@media screen and (max-width: 1280px) {
	.heading h3 {
		font-size: 30px;
	}
	.heading h3 {
		font-size: 30px;
	}
	.wthreeblogsaits-grid h4 {
		font-size: 18px;
	}
}

@media screen and (max-width: 1080px) {
	.navbar-inverse .navbar-brand {
		font-size: 30px;
		line-height: 35px;
	}
	.agilehover-effect li {
		margin: 10px 0;
	}
	.agilehover-effect li a {
		font-size: 14px;
		padding: 10px;
	}
	.dropdown-menu {
		top: 50px;
		width: 265px;
	}
	.agileheader .heading {
		top: 35%;
		padding: 30px;
	}
	.heading h1 {
		font-size: 35px;
	}
	.heading h2 {
		font-size: 30px;
		margin: 20px 0;
	}
	.heading h3 {
		font-size: 25px;
	}
	.w3lsaboutaits, .wthreetabsaits, .wthreeblogsaits, .agilecontactw3ls {
		padding: 75px 0;
	}
	.w3lsaboutaits-grid-1 h3 {
		font-size: 30px;
		margin: 10px 0 30px;
	}
	.w3lsaboutaits-grid-1 p {
		font-size: 15px;
	}
	.w3agile_gallery_image p span img {
		width: 60px;
	}
	.wthreetabsaits h3, .wthreeblogsaits h3, .agilecontactw3ls h3, .w3portfolioaits h3{
		font-size: 35px;
		margin-bottom: 35px;
	}
	.wthreeblogsaits-grid a {
		margin-bottom: 15px;
	}
	.wthreeblogsaits-grid h4 {
		font-size: 17px;
		margin-top: 10px;
	}
	.wthreeblogsaits-grid p {
		font-size: 14px;
		line-height: 23px;
		margin: 10px 0;
	}
	.wthreeblogsaits-grid button.btn {
		padding: 10px 25px;
		font-size: 11px;
	}
	.w3lsstatsaits {
		padding: 100px 0;
	}
	.w3lsstatsaits-img img {
		width: 80px;
	}
	.w3lsstatsaitsstats {
		font-size: 30px;
		margin-bottom: 5px;
	}
	.w3lsnewsletter-grid-1 {
		width: 40%;
		float: left;
	}
	.w3lsnewsletter-grid-1 p {
		font-size: 23px;
	}
	.w3lsnewsletter-grid-2 {
		width: 60%;
		float: left;
	}
	.email-form input.submit {
		margin-left: 0;
	}
}

@media screen and (max-width: 1024px) {
	.tabs {
		font-size: 1em;
	}
	.tabs-style-line nav a {
		letter-spacing: 0;
	}
	.wthreetabsaits .item h3 {
		font-size: 20px;
		margin: 15px 0;
	}
	.wthreetabsaits .item h4 {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.wthreeratingaits {
		margin-bottom: 15px;
	}
	.wthreeratingaits ul li {
		font-size: 1em;
	}	
	.wthreeitemdownload a {
		padding: 6px 15px;
		font-size: 13px;
	}
}

@media screen and (max-width: 991px) {
	.navbar-inverse .navbar-brand {
		font-size: 28px;
	}
	.heading h3 {
		font-size: 22px;
		padding: 15px;
	}
	.container {
		width: 100%;
	}
	.w3lsaboutaits-grid {
		width: 50%;
		float: left;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 2em 0;
	}
	.w3agile_gallery_image p span img {
		width: 100px;
	}
	.agileinfoplatforms {
		border-top: 1px solid #EEE;
		border-bottom: 1px solid #EEE;
	}
	.w3agile_gallery_grid {
		padding: 0;
		width: 50%;
		float: left;
		border: none;
	}
	.content-wrap {
		margin-top: 30px;
	}
	.wthreeblogsaits-grid {
		width: 50%;
		float: left;
		margin-bottom: 50px;
	}
	.wthreeblogsaits-grid h4 {
		font-size: 20px;
	}
	.wthreeblogsaits-grid p {
		margin: 15px 0;
	}
	.wthreeblogsaits-grid-3, .wthreeblogsaits-grid-4 {
		margin: 0;
	}
	.w3portfolioaits-item {
		padding: 0;
		width: 33.3%;
		float: left;
	}
	.w3lsstatsaits-grid {
		width: 25%;
		float: left;
	}
	.agilecontactw3ls-grid {
		width: 50%;
		float: left;
		padding: 5px;
	}
	.agilefooterwthree-grid {
		width: 25%;
		float: left;
	}
	.agilefooterwthreebottom-grid {
		width: 50%;
		float: left;
	}
}

@media screen and (max-width: 966px) {
	.navbar-inverse .navbar-brand {
		font-size: 27px;
		padding-right: 0;
		line-height: 34px;
	}
}

@media screen and (max-width: 900px) {
	.navbar-inverse .navbar-brand {
		font-size: 25px;
	}
	.agilehover-effect li a {
		font-size: 13px;
		padding: 10px 7px;
	}
	.w3lsaboutaits-grid-1 h3 {
		font-size: 25px;
		margin: 0 0 15px;
		line-height: 30px;
	}
	.w3lsaboutaits-grid-1 p {
		line-height: 27px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 1.5em 0;
	}
	.modal-body p {
		font-size: 15px;
		padding: 25px 10px 0;
	}
	.tabs nav a span {
		font-size: 18px;
	}
	.w3lsnewsletter-grid-1 p {
		font-size: 20px;
	}
	.email-form input.email {
		padding: 10px;
	}
	.email-form input.submit {
		padding: 11px 29px;
	}
}

@media screen and (max-width: 853px) {
	.navbar-inverse .navbar-brand {
		font-size: 20px;
		line-height: 34px;
	}
	.agilehover-effect li a {
		letter-spacing: 0.5px;
	}
	.w3lsaboutaits-grid-1 h3 {
		font-size: 20px;
		margin: 0 0 10px;
		line-height: 27px;
	}
	.w3lsaboutaits-grid-1 p {
		line-height: 25px;
	}
	.email-form input.email {
		width: 68%;
	}
}

@media screen and (max-width: 800px) {
	.heading h3 {
		font-size: 20px;
		padding: 10px;
	}
	.w3lsaboutaits-grid-1 p {
		line-height: 23px;
		font-size: 14px;
		color: #888;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 1.3em 0;
	}
	.w3lsnewsletter-grid-1 p {
		font-size: 19px;
	}
	.email-form input.submit {
		padding: 11px 27px;
		font-size: 13px;
	}
	.agilefooterwthree {
		padding: 50px 0;
	}
	.agilefooterwthreebottom-grid {
		width: 100%;
		text-align: center;
	}
	.copyright p {
		margin-top: 0;
	}
	.agilesocialwthree {
		text-align: center;
		margin-top: 20px;
	}
	.agileto-top img {
		margin-right: 8px;
	}
}

@media screen and (max-width: 768px) {
	.agilehover-effect li a {
		letter-spacing: 0;
		padding: 10px 6px;
	}
	.agileheader .heading {
		top: 33%;
	}
	.heading h1 {
		font-size: 30px;
	}
	.w3lsaboutaits, .wthreetabsaits, .wthreeblogsaits, .agilecontactw3ls {
		padding: 50px 0;
	}
	.w3lsaboutaits-grid-1 {
		padding: 0;
	}
	.w3lsaboutaits-grid-3 {
		padding-right: 0;
	}
	.wthreetabsaits h3, .wthreeblogsaits h3, .agilecontactw3ls h3, .w3portfolioaits h3 {
		font-size: 30px;
		margin-bottom: 30px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 1.25em 0;
	}
	.tabs nav a span {
		font-size: 17px;
	}
	.modal-title {
		font-size: 27px;
	}
	.modal-body {
		padding: 20px;
	}
	.modal-body p {
		font-size: 14px;
		padding: 20px 5px 0;
		line-height: 25px;
	}
	.w3lsstatsaits {
		padding: 75px 0;
	}
	.w3lsstatsaits-img img {
		width: 65px;
	}
	.w3lsstatsaitsstats {
		font-size: 25px;
	}
	.w3lsnewsletter-grid {
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.w3lsnewsletter-grid-1 p {
		font-size: 25px;
	}
	.w3lsnewsletter-grid-1 {
		margin-bottom: 20px;
		padding: 0;
	}
	.email-form input.email {
		width: 50%;
	}
	.agilefooterwthree-grid h4 {
		font-size: 17px;
		margin-bottom: 10px;
	}
	.agilefooterwthree-grid ul li {
		line-height: 23px;
		font-size: 13px;
	}
}

@media screen and (max-width: 767px) {
	.navbar-inverse {
		padding: 5px 0;
	}
	.navbar-inverse .navbar-brand {
		font-size: 25px;
		line-height: 25px;
	}
	.navbar-inverse .navbar-toggle {
		border-color: #EEE;
		border-radius: 0;
	}
	.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
		background-color: #000;
	}
	div#navbar {
		padding: 0;
	}
	.agilehover-effect ul {
		background-color: #000;
	}
	.agilehover-effect li a {
		padding: 10px 14px;
		font-size: 14px;
	}
	li.dropdown.open {
		float: right;
	}
	.dropdown-menu {
		width: 95%!important;
		padding: 0;
		margin: 0 auto;
	}
	.dropdown-menu form {
		width: 48%;
		float: left;
		margin: 0 6px;
	}
	.w3registeragile h3 {
		margin-top: 5px;
	}
}

@media screen and (max-width: 736px) {
	.heading h3 {
		font-size: 19px;
		padding: 10px 5px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 1.2em 0;
	}
	.w3lsstatsaits-info p {
		font-size: 18px;
	}
}

@media screen and (max-width: 667px) {
	.agilehover-effect li a {
		padding: 10px;
		font-size: 13px;
	}
	.agileheader .heading {
		width: 60%;
	}
	.heading h1 {
		font-size: 29px;
	}
	.heading h2 {
		font-size: 25px;
		margin: 15px 0;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 1em 0;
	}
	.tabs nav a span {
		font-size: 16px;
	}
	.modal-body p {
		padding: 20px 0 0;
	}
	.w3lsstatsaits-img {
		margin-bottom: 20px;
	}
	.w3lsstatsaits-img img {
		width: 60px;
	}
	.w3lsstatsaitsstats {
		font-size: 22px;
	}
	.w3lsstatsaits-info p {
		font-size: 16px;
	}
}

@media screen and (max-width: 640px) {
	.agilehover-effect li {
		display: block;
	}
	.dropdown-menu form {
		margin: 0 5px;
	}
	.w3lsaboutaits-grid {
		width: 100%;
		padding: 0;
	}
	.w3lsaboutaits-grid-1 {
		margin-bottom: 20px;
	}
	.w3lsaboutaits-grid-1 h3 {
		font-size: 23px;
	}
	.w3lsaboutaits-grid-1 p {
		line-height: 25px;
	}
	.w3agile_gallery_image p span img {
		width: 75px;
	}
	.tabs nav a span {
		font-size: 15px;
	}
	.w3lsstatsaits-grid {
		padding: 0;
	}
	.agilefooterwthree-grid {
		width: 50%;
		float: left;
	}
	.agilefooterwthree-grid1, .agilefooterwthree-grid2 {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 603px) {
	.heading h3 {
		font-size: 17px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 1.1em 0;
		font-size: 25px;
	}
	.wthreetabsaits .item h3 {
		font-size: 18px;
	}
	.wthreeblogsaits-grid h4 {
		font-size: 19px;
	}
	.wthreeblogsaits-grid p {
		margin: 10px 0 15px;
	}
	.email-form input.email {
		width: 60%;
	}
	.agilecontactw3ls input[type="submit"] {
		font-size: 14px;
	}
}

@media screen and (max-width: 568px) {
	.w3lsaboutaits, .wthreetabsaits, .wthreeblogsaits, .agilecontactw3ls {
		padding: 35px 0;
	}
	.wthreetabsaits .item h4 {
		font-size: 15px;
	}
	.wthreeblogsaits-grid h4 {
		font-size: 18px;
	}
	.modal-title {
		font-size: 25px;
	}
	.modal-header {
		padding: 10px 15px;
	}
	.w3lsstatsaits {
		padding: 50px 0;
	}
	.w3lsnewsletter {
		padding: 30px 0;
	}
}

@media screen and (max-width: 533px) {
	.w3loginagile h3, .w3registeragile h3 {
		font-size: 18px;
		margin: 5px 0 10px;
	}
	.dropdown-menu form {
		margin: 0 4px;
	}
	.agileheader .heading {
		width: 65%;
		padding: 20px;
		top: 35%;
	}
	.heading h1 {
		font-size: 25px;
	}
	.heading h2 {
		font-size: 20px;
	}
	.heading h3 {
		font-size: 16px;
		padding: 10px;
	}
	.w3lsaboutaits-grid-1 h3 {
		font-size: 22px;
	}
	.w3agile_gallery_image p span img {
		width: 50px;
	}
	.tabs nav a span {
		font-size: 14px;
	}
	.wthreetabsaits .item h3 {
		font-size: 17px;
	}
	.wthreeblogsaits-grid h4 {
		font-size: 17px;
	}
	.w3lsstatsaits-grid {
		width: 50%;
	}
	.w3lsstatsaits-grid-1, .w3lsstatsaits-grid-2 {
		margin-bottom: 35px;
	}
}

@media screen and (max-width: 480px) {
	.navbar-inverse .navbar-brand {
		line-height: 25px;
	}
	.w3loginagile input[type="text"], .w3loginagile input[type="password"], .w3registeragile input[type="text"], .w3registeragile input[type="password"] {
		padding: 5px;
		border-left: 3px solid #0199e6;
		margin-bottom: 5px;
		font-size: 12px;
		font-weight: 400;
	}
	.dropdown-menu input[type="submit"] {
		padding: 3px 25px;
		border: 2px solid transparent;
		font-size: 11px;
	}
	.heading h1 {
		font-size: 20px;
	}
	.agileheader .heading {
		top: 34%;
	}
	.w3lsaboutaits-grid-1 h3 {
		font-size: 20px;
	}
	.wthreetabsaits h3, .wthreeblogsaits h3, .agilecontactw3ls h3, .w3portfolioaits h3 {
		font-size: 25px;
		margin-bottom: 25px;
	}
	.tabs-style-line nav a {
		padding: 0.7em 0;
	}
	.tabs nav a span {
		font-size: 13px;
	}
	.modal-title {
		font-size: 20px;
	}
	.modal-body {
		padding: 10px;
	}
	.modal-body p {
		padding: 15px 0 0;
	}
	.w3lsnewsletter-grid-1 p {
		font-size: 20px;
	}
	.email-form input.email {
		width: 65%;
		font-size: 12px;
		padding: 7px;
	}
	.email-form input.submit {
		padding: 7px 25px;
		font-size: 12px;
		margin-top: 5px;
	}
	.agilecontactw3ls-grid {
		width: 100%;
		padding: 0;
	}
	.agilecontactw3ls-grid input[type="text"], .agilecontactw3ls-grid input[type="email"], .agilecontactw3ls-grid textarea {
		margin-bottom: 5px;
		font-size: 11px;
		padding: 7px;
		border-left: 3px solid #0199e6;
	}
	.agilecontactw3ls-grid textarea {
		height: 100px;
	}
	.agilecontactw3ls-grid .send-button {
		margin-top: 0;
	}
	.agilecontactw3ls input[type="submit"] {
		font-size: 12px;
		padding: 4px 40px;
		border: 2px solid transparent;
	}
	.agileto-top img {
		margin-right: 13px;
		width: 35px;
	}
}

@media screen and (max-width: 414px) {
	.rslides img {
		height: 250px;
	}
	.navbar-inverse .navbar-brand {
		font-size: 20px;
	}
	.dropdown-menu form {
		margin: 10px 0;
		width: 100%;
	}
	.agileheader .heading {
		top: 36%;
		width: 75%;
		padding: 15px;
	}
	.heading h2 {
		font-size: 18px;
	}
	.heading h3 {
		font-size: 15px;
		padding: 7px;
	}
	.w3lsaboutaits-grid-1 h3 {
		font-size: 17px;
		line-height: 25px;
	}
	.w3agile_gallery_grid {
		width: 100%;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 2.25em 0;
	}
	.tabs-style-line nav a {
		padding: 1em 20px;
	}
	.wthreetabsaits .item h3 {
		font-size: 20px;
		margin: 20px;
	}
	.wthreetabsaits .item h4 {
		font-size: 17px;
		margin-bottom: 20px;
	}
	.wthreeratingaits {
		margin-bottom: 20px;
	}
	.wthreetabsaits .item .wthreeitemdownload {
		margin-bottom: 30px;
	}
	.wthreeblogsaits-grid {
		width: 100%;
		margin-bottom: 40px;
	}
	.wthreeblogsaits-grid-4 {
		margin: 0;
	}
	.wthreeblogsaits-grid h4 {
		font-size: 20px;
	}
	.w3portfolioaits-item {
		width: 50%;
	}	
	.owl-wrapper {
		background-color: #000;
	}
	.aitspartnersw3l img {
		width: 200px;
		border: none;
	}
	.w3lsnewsletter-grid-1 {
		margin-bottom: 10px;
	}
	.email-form input.email {
		width: 100%;
	}
	.email-form input.submit {
		float: right;
	}
}

@media screen and (max-width: 360px) {
	.agileheader .heading {
		width: 80%;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 2em 0;
	}
}

@media screen and (max-width: 320px) {
	.navbar-inverse .navbar-brand {
		font-size: 17px;
	}
	.agileheader .heading {
		width: 90%;
	}
	.w3lsaboutaits-grid-1 h3 {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 5px;
	}
	.w3agile_gallery_grid figcaption h4 {
		margin: 1.5em 0;
	}
	.w3lsnewsletter-grid-1 p {
		font-size: 18px;
	}
	.agilefooterwthree-grid h4 {
		font-size: 15px;
		margin-bottom: 5px;
	}
}