#leftbox { 
float:left;  
/*background:Red; */
width:50%;  

} 
#rightbox{ 
	 float:right; 
	 /*background:blue; */
	 width:50%; 
} 
            

#navtop {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    /*background-color: black; /*#333*/
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 22%;
    text-align: center;
}

#litop {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

body{
    background-color:rgb(30, 53, 53);
    color:rgb(230, 210, 210); 
}

 #left{
    width:15%;
    float: left;
    margin:auto;
}

#right{
    width:40%;
    float: right;
    margin: auto;
}

#full{
    margin:auto;
    width: 30%;
    text-align: center;
}

a {
	color: #cfcfcf;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

#wraptest{
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: auto
}

#skills{

}