#leftbox { 
float:left;  
background:Red; 
width:50%;  
} 
#rightbox{ 
	 float:right; 
	 background:blue; 
	 width:50%; 
} 
            

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

body{
    background-color:darkslategray;
    color:white; 
}

 #left{
    width:15%;
    float: left;
    margin:auto;
}

#right{
    width:40%;
    float: right;
    margin: auto;
}

#full{
    margin:auto;
    width:30%
}

a {
	color: #cfcfcf;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

#butdiv{
    
    text-align: center;
    margin:0 auto;  
    vertical-align: middle;
    
}